:root {
  --bg-color: #0a0a0a;
  --card-bg: #161616;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;
  --primary-purple: #7b2cbf;
  --primary-neon: #4cc9f0;
  --header-height: 70px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/* Import Font tambahan jika mau */
